p{
    background-color: aqua;
}
h1{
    color: maroon;
}
/*propiedades para selecto con id p3*/
#p3{
    background: violet !important;
}
/*aplicación de CSS a clases*/
.mitexto{
    background-color: darkorange;
    border-style:solid;
    border-color: blue;
}
.mitexto2{
    font-size: 38px;
    font-weight: bold;
}