body{
    width: 100%;
    height: 100%;
    background-color: #333;
    margin: 0;
    color: aliceblue;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    /*background-color: red;*/
    color: white;
}

.topnav > img{
    float: left;
    width: 5%;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a>img {
    width: 50%;
    height: 50px;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 550px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 550px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }

    .dropdown-content > a > img{
        width: 50px;
    }

}


@media screen and (max-width: 800px) {

    #text,
    #video,
    #images {
        width: 80%;
        margin-left: 10%;
    }
}


#banner img{
    width: 100%;
    height: 350px;
}

#contenido-uno {
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
    background-color: #555;
}

#contenido-uno h1{
    text-align: center;
    font-size: 80px;
}

#contenido-uno iframe{
    width: 40%;
    height: 300px;
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}

#contenido-uno p{
    margin-right: 1%;
    margin-bottom: 5%;
}

#contenido-dos{
    width: 100%;
    height: 100%;
    background-color: #666;
}

#contenido-dos h1, h2{
    text-align: center;
}

#contenido-dos iframe{
    width: 50%;
    height: 400px;
    margin-left: 25%;
}

@media screen and (max-width: 780px){
    #contenido-uno h1{
        text-align: center;
        font-size: 30px;
    }

    #contenido-uno iframe{
        width: 100%;
        display: block;
    }

    #contenido-uno p{
        display: block;
    }

    #contenido-dos iframe{
        width: 100%;
        margin-left: 0;
    }

}

footer{
    margin-top: 2%;
    width: 90%;
    height: 15%;
    margin-left: 5%;
    border: 1px solid;
    margin-bottom: 2%;background-color: whitesmoke;
}

footer h3{
    text-align: center;
    color: #333;
}

@media screen and(max-width: 870px){
    #pie-pagina h3{
        font-size: 10px;
    }
}